{% extends "base.html" %}

{% block content %}

<br><br>

{% if avail_reviews_people|length != 0 %}
<h2>{%if confirm == True %} Your Store Reviews: {%else%} Reviews for {{name[0][0]}} {{name[0][1]}} (User {{uid}}): {%endif%}</h2>
<p>Average Review: {{avgrev}}</p>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Reviewer</th>
      <th scope="col">Date Published</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for review_people in avail_reviews_people%}
      <tr>
        <td><a href="{{ url_for('users.user_public_page', uid=review_people.uid) }}">{{review_people.buyer_firstname}} {{review_people.buyer_lastname}}</a></td>
        <td>{{review_people.review_time}}</td>
        <td>{{review_people.review_content}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p> There are no reviews for {{name[0][0]}} {{name[0][1]}} (User ID: {{uid}}).(</p>
{% endif %}
    </body>
    </html>


{% endblock %}
